**Loops**

- Iterate a piece of code untill the condition satisfy

- we can a code normally

- we can run a same code by using function wrapper(**function**)

- we can run a code multiple times(**loops**)

- we can run a code by using condition(**conditions**)

- for loop
- while loop
- any lopp 
     - intial point
     - increment or decrement
     - condition to stop the loop

## forloop

$$pattern-1$$

**range(stop)**

In [ ]:
#syntax 
for i in range(<value>):
    # start write your code

- when ever you see the word range it belongs to math family 
- inside range we need to provide one value ex: range(3)
- if you provide only one value 
  - start value =0
  - increment=+1
  - last = stop-1
- range(3)
   - start value = 0
   - increment =1
   - last = 3-1 =2
   - answers are : 0 1 2
**Note**:In python the index always start with zero

In [4]:
for i in range(3):
    print(i)

0
1
2

In [3]:
print(0)
print(1)
print(2)
print(3)
print(4)

0
1
2
3
4

In [5]:
# i want to print hello 5 times
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [11]:
#for example 
#take a random number between 1 to 100
#print it is even number and add number
#you need to generate 3 random number
import random
for i in range(3):
    num=random.randint(1,100)
    if num%2==0:
        print(f"num is even {num}")
    else:
        print(f"num is odd {num}")

num is odd 45
num is even 78
num is even 18

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

$$pattern-2$$

**range (start,stop):**
- range(10,20)
  - start value=10
  - increment = 1
  - last=stop-1=20-1=19
  - ans: 10 11 12 13 14 15 16 17 18 19

In [16]:
for i in range(10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [24]:
#wap ask the user print the square of the number betwwen
# 20 to 25
for i in range(20,26):
    square=i*i
    print(i,square,sep='--')

20--400
21--441
22--484
23--529
24--576
25--625

In [27]:
for i in range(20,26):
    print(f"the square od {i} is {i*i}")

the square od 20 is 400
the square od 21 is 441
the square od 22 is 484
the square od 23 is 529
the square od 24 is 576
the square od 25 is 625

In [26]:
#wap ask the user print the number is even or oddd between 10 to 20
for i in range(10,21):
    if i%2==0:
        print(i,"even",end=' ')
    else:
        print(i,"odd",end=' ')

10 even 11 odd 12 even 13 odd 14 even 15 odd 16 even 17 odd 18 even 19 odd 20 even

$$pattern-3$$

**range(start,stop,step)**

- start value = start values
- step value
  
    - positive value:

       - if step value is positive: incremant

       - last = stop-1

    - negative value:

        - if step value is negative : decremant

        - last = stop+1

In [28]:
#case-1
for i in range(2,20,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18

In [30]:
#case-2
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [37]:
#case-2
for i in range(2,20,-2):
    print(i,end=' ')

##no error no ans bcz it is in negative direction

In [39]:
# case-3
for i in range(20,2,-2):
    print(i,end=' ')

#start=20
#step = -2 negative
#last= stop+1 = 2+1 =3
#20 18 16 14 12 10 8 6 4

20 18 16 14 12 10 8 6 4

In [41]:
# case-4
for i in range(-20,2,-2):
    print(i,end=' ')

#start=-20
#step = -2 neg
#last= stop+1 = 2+1

In [ ]:
range(3,20,2) #p
range(3,20,-2) #n
range(3,-20,2) #n
range(3,-20,-2) #p
range(-3,20,2) #p
range(-3,-20,2) #n
range(-3,20,-2) #n
range(-3,-20,-2) #p
range(20,3,2) #n
range(20,3,-2) #p
range(20,-3,-2) #p
range(-20,-3,-2) #n

In [1]:
#4Q) wap ask the user enter three times find the sqaare of the number
for i in range(3):
    number1=eval(input("enter a number"))
    print(f"the square of {number1} is {number1*number1}")

enter a number 8

the square of 8 is 64

enter a number 9

the square of 9 is 81

enter a number 10

the square of 10 is 100

In [3]:
number=eval(input("enter the number:"))
for i in range(1,11):
    table=number*i
    print(f"{number} X {i} = {table}")

enter the number: 14

14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140

In [35]:
#6 find the factors of 75
#step-1 iterate the loop = which number factors 
#step-2 aplly the if condition
#       cond =dividethe number with ecan i
number=eval(input("enter a number:"))
for i in range(1,number+1):
    if number%i==0:
        print(f"the factors of {number} is {i}")

enter a number: 75

the factors of 75 is 1
the factors of 75 is 3
the factors of 75 is 5
the factors of 75 is 15
the factors of 75 is 25
the factors of 75 is 75
20

In [16]:
#7q wap the sum of first 10 natural numbers
n=0
for i in range(1,11):
    n=n+i
    print(f"the sum of {n-i}+{i}={n}")

the sum of 0+1=1
the sum of 1+2=3
the sum of 3+3=6
the sum of 6+4=10
the sum of 10+5=15
the sum of 15+6=21
the sum of 21+7=28
the sum of 28+8=36
the sum of 36+9=45
the sum of 45+10=55

# **summation wrapper**

- initially we need to keep summ=0
- make sure that do not provide sum
- because sum is keyword 
- inside for loop : summ=summ+i

**Note**

- if we print answer from out of for loop, last answer will print

In [29]:
#8 avergae of fist 10 numbers
sum=0
num=eval(input("enter a number:"))
for i in range(1,num+1):
    sum=sum+i
    avg=sum/num
print(avg)

enter a number: 10

5.5

**counter wrapper**

- Before foe loop[ initilaise with count=0
- under for loop count=count+1
- counter always increase by 1 only

In [39]:
count=0
n=eval(input("enter a number:"))
for i in range(1,number+1):
    if number%i==0:
        count=count+1
print(count)

enter a number: 75

6

In [4]:
#10Q) 
#get a random number between 1 to 10: num1
#ask the user enter a number : num2
#if num1=num2 then print won
#wlse print fail
import random
for i in range(3):
    num1=random.randint(1,10)
    num2=eval(input("enter anumber:"))
    if num1==num2:
        print("won")
    else:
        print("lose")

enter anumber: 3

lose

enter anumber: 3

won

enter anumber: 4

lose

In [ ]:
#case-2 when ever u won the code should stop
import random
for i in range(3):
    num1=random.randint(1,10)
    num2=eval(input("enter anumber:"))
    if num1==num2:
        print("won")
        break
    else:
        print("lose")

In [7]:
#case-3
#suppose i want to give 4 chances
#every time you fail i want to display
#  number of chnaces left
#if all the chances you are used 
# try again after 24 hours
# if you are win
count=4
import random
for i in range(4):
    num1=random.randint(1,10)
    num2=eval(input("enter anumber:"))
    if num1==num2:
        print("win")
        break
    else:
        print("you lost")
        count-=1
        print(f"{count}")
if count==0:
    print("try again after 24 hours")

enter anumber: 4

you lost
3

enter anumber: 5

you lost
2

enter anumber: 6

you lost
1

enter anumber: 7

you lost
0
try again after 24 hours

In [4]:
number=eval(input("enter a number:"))
for i in range(1,number+1):
    if number%i==0:
        print(f"the factors of {number} is {i}")

enter a number: 30

the factors of 30 is 1
the factors of 30 is 2
the factors of 30 is 3
the factors of 30 is 5
the factors of 30 is 6
the factors of 30 is 10
the factors of 30 is 15
the factors of 30 is 30

In [5]:
import random
num=eval(input("Enter a number:"))
for i in range(1,num):
    if num%i==0:
        print(i)

Enter a number: 30

1
2
3
5
6
10
15

In [10]:
#wap ask the user get 5 random numbers
#get it is even number or odd number
#also count how many even numbers are there
#and count how many odd numbers are there
import random
even_count=0
odd_count=0
for i in range(5):
    number=random.randint(1,6)
    if number%2==0:
        even_count+=1
        print(f"number is even and the count of even is {even_count}")
    else:
        odd_count+=1
        print(f"numver is odd and the  count of odd is {odd_count}")
print(f"the total numbers of even number are :{even_count}")
print(odd_count)

numver is odd and the  count of odd is 1
number is even and the count of even is 1
number is even and the count of even is 2
numver is odd and the  count of odd is 2
number is even and the count of even is 3
the total numbers of even number are :3
2

In [20]:
#wap ask the user get 5 random numbers
#get it is even number or odd number
#also count how many even numbers are there
#and count how many odd numbers are there
#and print even sum and odd sum
import random
even_count=0
odd_count=0
even_sum=0
odd_sum=0
for i in range(5):
    number=random.randint(1,6)
    if number%2==0:
        even_count+=1
        even_sum+=even_count
        print(f"number is even and the count of even is {even_count}")
    else:
        odd_count+=1
        odd_sum+=even_count
        print(f"numver is odd and the  count of odd is {odd_count}")
print(f"the total numbers of even number are :{even_count}")
print(f"the total numbers of even number are :{odd_count}")
print(f"the sum of even numbers are :{even_sum}")
print(f"the sum of odd numbers are : {odd_sum}")

number is even and the count of even is 1
numver is odd and the  count of odd is 1
number is even and the count of even is 2
numver is odd and the  count of odd is 2
number is even and the count of even is 3
the total numbers of even number are :3
the total numbers of even number are :2
the sum of even numbers are :6
the sum of odd numbers are : 3

In [62]:
#wap ask the user get 5 random numbers
#get it is even number or odd number
#also count how many even numbers are there
#and count how many odd numbers are there
#and print even sum and odd sum
#create a dfunction
#return all
#print 4 values
import random
def even_odd():
    even_count,odd_count=0,0
    even_sum,odd_sum=0,0
    for i in range(5):
        number=random.randint(1,6)
        if number%2==0:
            even_count+=1
            even_sum+=even_count
        else:
            odd_count+=1
            odd_sum+=even_count
    return(even_count,odd_count,even_sum,odd_sum)

In [71]:
even_count,odd_count,even_sum,odd_sum=even_odd()
print(f"numver is odd and the  count of odd is {odd_count}")
print(f"number is even and the count of even is {even_count}")
print(f"the sum of even numbers are :{even_sum}")
print(f"the sum of odd numbers are : {odd_sum}")

number is even and the count of even is 1
number is even and the count of even is 2
numver is odd and the  count of odd is 3
number is even and the count of even is 2
the sum of even numbers are :3
the sum of odd numbers are : 3

In [67]:
string1='python'
'p'in string1
'y'in string1
't'in string1

i in string1

TypeError: 'in <string>' requires string as left operand, not int

**Difference between in operator and range operator**
- range belongd=s to math family
- inside the range we need to keep numbers only 
- whenever if we want iterate througha english letter
- we need to choose
- i

In [45]:
'p'>'P'

True

- every english letter
- every spcl character how machine will understand
- machine language always consider as numbers
- every non numeric assign a number
- ASCII: American standard code for information interchange
- A:65,a:97

**ord-chr**

In [ ]:
A === 65 ====0b1000001

In [50]:
ord('A'),ord('a')

(65, 97)

In [51]:
ord('p'),ord('P')

(112, 80)

In [54]:
chr(112)

'p'

'A'

In [72]:
ascii_sum=0
for i in 'python':
    ascii_sum=ascii_sum+ord(i)
print(f"the summation is {ascii_sum}")

the summation is 674

In [73]:
#i want to know all ascii number A to Z
for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    ascii_sum=ascii_sum+ord(i)
print(f"the summation is {ascii_sum}")

the summation is 2689

In [81]:
#package called:string
#import the package
#appy the dir
#there are some methods are there
#in that one method will capital letters
import string
dir(string)
help(string.ascii_uppercase)

No Python documentation found for 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [83]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [84]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [90]:
ascii_values=string.ascii_uppercase
for i in ascii_values:
    print(i,ord(i))

A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90

In [91]:
ascii_values=string.ascii_lowercase
for i in ascii_values:
    print(i,ord(i))

a 97
b 98
c 99
d 100
e 101
f 102
g 103
h 104
i 105
j 106
k 107
l 108
m 109
n 110
o 111
p 112
q 113
r 114
s 115
t 116
u 117
v 118
w 119
x 120
y 121
z 122

In [92]:
for i in range(20,200):
    print(i,chr(i),end=' ')

20  21  22  23  24  25  26  27  28  29  30  31  32   33 ! 34 " 35 # 36 $ 37 % 38 & 39 ' 40 ( 41 ) 42 * 43 + 44 , 45 - 46 . 47 / 48 0 49 1 50 2 51 3 52 4 53 5 54 6 55 7 56 8 57 9 58 : 59 ; 60 < 61 = 62 > 63 ? 64 @ 65 A 66 B 67 C 68 D 69 E 70 F 71 G 72 H 73 I 74 J 75 K 76 L 77 M 78 N 79 O 80 P 81 Q 82 R 83 S 84 T 85 U 86 V 87 W 88 X 89 Y 90 Z 91 [ 92 \ 93 ] 94 ^ 95 _ 96 ` 97 a 98 b 99 c 100 d 101 e 102 f 103 g 104 h 105 i 106 j 107 k 108 l 109 m 110 n 111 o 112 p 113 q 114 r 115 s 116 t 117 u 118 v 119 w 120 x 121 y 122 z 123 { 124 | 125 } 126 ~ 127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160   161 ¡ 162 ¢ 163 £ 164 ¤ 165 ¥ 166 ¦ 167 § 168 ¨ 169 © 170 ª 171 « 172 ¬ 173 ­ 174 ® 175 ¯ 176 ° 177 ± 178 ² 179 ³ 180 ´ 181 µ 182 ¶ 183 · 184 ¸ 185 ¹ 186 º 187 » 188 ¼ 189 ½ 190 ¾ 191 ¿ 192 À 193 Á 194 Â 195 Ã 196 Ä 197 Å 198 Æ 199 Ç

In [1]:
for i in range(3078,3178):
    print(i,chr(i))

3078 ఆ
3079 ఇ
3080 ఈ
3081 ఉ
3082 ఊ
3083 ఋ
3084 ఌ
3085 ఍
3086 ఎ
3087 ఏ
3088 ఐ
3089 ఑
3090 ఒ
3091 ఓ
3092 ఔ
3093 క
3094 ఖ
3095 గ
3096 ఘ
3097 ఙ
3098 చ
3099 ఛ
3100 జ
3101 ఝ
3102 ఞ
3103 ట
3104 ఠ
3105 డ
3106 ఢ
3107 ణ
3108 త
3109 థ
3110 ద
3111 ధ
3112 న
3113 ఩
3114 ప
3115 ఫ
3116 బ
3117 భ
3118 మ
3119 య
3120 ర
3121 ఱ
3122 ల
3123 ళ
3124 ఴ
3125 వ
3126 శ
3127 ష
3128 స
3129 హ
3130 ఺
3131 ఻
3132 ఼
3133 ఽ
3134 ా
3135 ి
3136 ీ
3137 ు
3138 ూ
3139 ృ
3140 ౄ
3141 ౅
3142 ె
3143 ే
3144 ై
3145 ౉
3146 ొ
3147 ో
3148 ౌ
3149 ్
3150 ౎
3151 ౏
3152 ౐
3153 ౑
3154 ౒
3155 ౓
3156 ౔
3157 ౕ
3158 ౖ
3159 ౗
3160 ౘ
3161 ౙ
3162 ౚ
3163 ౛
3164 ౜
3165 ౝ
3166 ౞
3167 ౟
3168 ౠ
3169 ౡ
3170 ౢ
3171 ౣ
3172 ౤
3173 ౥
3174 ౦
3175 ౧
3176 ౨
3177 ౩