- case-1: Functions call with one argument
  
  - lambda arguments: Expresion
    
  - lambda variables: return output

- case-2: Function call with tw0 arguments
  
  - lambda arg1,arg2: Expression
    
  - lambda var1,var2: return output
    
- case3: Function call with default arguments
  
  - lambda arg1,arg2=500: Expression
    
  - lambda var1,var2=500: return output
    
- case-4: Function call with tw0 arguments and if-else statement
  
  - lambda arg1,arg2: Expression
    
  - lambda var1,var2: if_outputif_con else els_op forloop
    
- case-5: lambda operations using list

  - lambda arg: Expression,iterartor
 
  - map(lambda var:operation,list)

In [5]:
l=['hyd','chennai','mumbai']
#for i in l:
    #print(i.upper())

list(map(lambda i:i.upper(),l))

HYD
CHENNAI
MUMBAI

['HYD', 'CHENNAI', 'MUMBAI']

In [10]:
l=['hyd','chen#nai','mum#bai','blr']
for i in l:
    if '#' in i:
        print(i)
#mistake-1: tuple(map(lambda i:if '#' in i,l))
#     do not write if  

tuple(map(lambda i:'#' in i,l))

chen#nai
mum#bai

(False, True, True, False)

**Filter**

- whenever  if conditions are there use filter

In [9]:
#tuple(map(lambda i:'#' in i,l)

tuple(filter(lambda i:'#' in i,l))

('chen#nai', 'mum#bai')

In [20]:
numbers=[1,3,2,7,6]
for i in numbers:
    if i%2==0:
        print(i)

tuple(filter(lambda i: i%2==0,numbers))

2
6

(2, 6)

In [33]:
numbers=[1,2,3,4,5]
#i want sum of the elements in alist
sum(numbers)




#method-2: with out sum
summ=0
for i in numbers:
    summ=summ+i
    print(summ)


#method-2: with out sum

tuple(filter(lambda summ,i: summ+i,numbers))

15

In [36]:
l1=[1,2,3,4,5]
filter(lambda summ,i:summ+i,l1)

**Reduce**

- all inbuilt functions can achieve by reduce
- Reduce is avialable  from functools package
- level-1: reduce(lambda summ,i:sum+i,l1)
- level-2: reduce(lambda summ,i:summ+i,l1,initial_value)
- for example we want intialize summ=0 then we choose level-1
- for example we want start with other zero then we choose  level-2

In [40]:
import functools
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [41]:
functools.reduce()

TypeError: reduce expected at least 2 arguments, got 0

In [43]:
l2=[1,2,3,4,5]
functools.reduce(lambda summ,i: summ+i,numbers)

15

In [50]:
import functools as ft
l2=[1,2,3,4,5]
ft.reduce(lambda summ,i: summ+i,l1)

from functools import reduce
l2=[1,2,3,4,5]
ft.reduce(lambda summ,i: summ+i,l1)


import functools as ft
l2=[1,2,3,4,5]
ft.reduce(lambda summ,i: summ+i,l1)

15

In [46]:
import functools as ft
l2=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1,0)

15