## Variables

- variables are used to store the values and the values can be change

In [3]:
number = 100 #value 100  stored in a variable name called 'number'
number

100

In [4]:
number = 200 #value 200  stored in a variable name called 'number'
number

200

**Note**

- Python is a step by step process
- python will take latest output as the latest value
- in the above we are using same varaiable: number
- but the number changed two times
- first time 100
- second time 200
- latest value 200

In [7]:
NUMBER = 200
NUMBER

200

In [8]:
number, NUMBER

(200, 200)

In [9]:
NUMber = 300
NUMber

300

In [10]:
number123=400
number123

400

In [11]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [12]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1450364314.py, line 1)

In [13]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [14]:
number_one=800
number_one

800

In [16]:

_=100
_

100

In [17]:
n1=100,200
n1

(100, 200)

In [18]:
n2,n3=200
n2

TypeError: cannot unpack non-iterable int object

In [21]:
n4,n5=100,200
n4
n5

200

- python always print the latest values only

In [22]:
n1,_=100,200
n1,_

(100, 200)

- python variables are case sensitive
    - variables can be decleared as capital letters and small letters
    - variables can not start with Number ( prefix)
    - Numbers can be suffix of the variables
    - Variables can not have special characetrs expect(**underscore**(_))
    - variables does not have space between names
    - only underscore is possible
    - keywords or reserved words can not use as variables
    - two values can be assign to a single variables
    - one vaule can not assign to two variables