- we can store the output values by using append operations

- we are taking empty list
  
- we are iterating elements from a given llist

- the result we are appending in new list

In [ ]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

- there are almost 3 lines are in the process

- The three lines we can make into a single line

- This is called a **LIST COMPREHENSION**

$pattern-1$

In [ ]:
#syntax
#[<output> and <forloop>]

In [ ]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

#q1) what is the output ? i*i
#Q2) what is ouput list name? square_list
#Q3) what is the for loop ? for i in range(10)
##[<output> and <forloop>]
sq_list=[i*i for i in range(10)]

In [ ]:
#Q2) l1=['hyd','mumbai','chennai','blr']
#   upper_list=['Hyd','Mumbai','Chennai','Blr']
l1=['hyd','mumbai','chennai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())

upper_list

In [ ]:
l1=['hyd','mumbai','chennai','blr']
upper_list=[i.upper() for i in l1]
upper_list

In [ ]:
#Q3) l1=['Hyd','Mumbai','Chennai','Blr']
#  lower_list=['hyd','mumbai','chennai','blr']

l1=['Hyd','Mumbai','Chennai','Blr']
lower_list=[]
for i in l1:
    lower_list.append(i.lower())

lower_list

In [ ]:
l1=['Hyd','Mumbai','Chennai','Blr']
lower_list=[i.lower() for i in l1]
lower_list

In [8]:
#Q4) l2=['Hyd','Mumbai','Chennai','Blr']
#sum of the indexes of all elements
l2=['Hyd','Mumbai','Chennai','Blr']
l3=[]
for i in l2:
    $l3.append(i.index(l2))
l3

TypeError: must be str, not list

In [3]:
l2=['Hyd','Mumbai','Chennai','Blr']
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

- making empty list will not work in list comprehension

- initialization will not works in list comprehension

- assignment operations also not works

$pattern-2$

- **for loop and if

In [ ]:
#syntav

[<output> <for loop> <if condition>]

In [11]:
#Q5) l1=['Hyd','Mumbai','Chennai','Blr']
#ans=['Mumbai','Chennai']
#we want elements which are len of element >4

l1=['hyd','Mumbai','Chennai','Blr']
for i in l1:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [13]:
l1=['hyd','Mumbai','Chennai','Blr']
op=[i for i in l1 if len(i)>4]
op

['Mumbai', 'Chennai']

In [14]:
#Q3)l1=['hyd','Mum#bai','Chen#nai','Blr']
#ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are having '#'

l1=['hyd','Mum#bai','Chen#nai','Blr']
for i in l1:
    if '#' in i:
        print(i)

Mum#bai
Chen#nai

In [15]:
l1=['hyd','Mum#bai','Chen#nai','Blr']
mp=[i for i in l1 if '#' in i]
mp

['Mum#bai', 'Chen#nai']

In [24]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital
l1=['Hyd','Mumbai','chennai','blr']
ans=[]
for i in l1:
   if i[0].isupper():
       ans.append(i)
print(ans)

['Hyd', 'Mumbai']

In [29]:
l1=['Hyd','Mumbai','chennai','blr']
op=[i for i in l1 if i[0].isupper()]
op

['Hyd', 'Mumbai']

In [32]:
l1=['Hyd','Mumbai','Chennai','blr']
mp=[i for i in l1 if i.istitle()]
mp

['Hyd', 'Mumbai', 'Chennai']

$pattern-3$



**if-else**

In [ ]:
[<ifoutput> <if> <else> <elseoutput> <for>]:

**even-odd**

In [7]:
even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f"even:{i}")
else:
    odd_list.append(f"odd:{i}")

even_list
odd_list

['odd:19']

In [8]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even:{i}")
else:
    op_list.append(f"odd:{i}")

op_list

['even:2',
 'even:4',
 'even:6',
 'even:8',
 'even:10',
 'even:12',
 'even:14',
 'even:16',
 'even:18',
 'odd:19']

In [9]:

[op_list if i%2==0 else op_list for i in range(1,20)]

[['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19'],
 ['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18',
  'odd:19']]

In [10]:
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']