In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'Naresh It',True)

10 10.5 Naresh It True

In [5]:
n1=10
n2=20
print(n1,n2)

10 20

In [7]:
print(10)
print(20)
print(10),print(20)

10
20
10
20

(None, None)

In [8]:
a=10
b=10
c=a+b
print("the addition of 10 and 20 is 30")
print("the addition of",a,"and",b,"is",c)

the addition of 10 and 20 is 30
the addition of 10 and 10 is 20

In [11]:
a=10
b=10
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 10 and 10 is 20

In [16]:
name='manu'
age=22
city='hyd'
print("my name is {}, i am {} years old, i am from {}".format(name,age,city))

my name is manu, i am 22 years old, i am from hyd

In [17]:
employ_name="Manohar"
role="doveloper"
company="wipro"
print("employ name {},my role {} and my company name is {}".format(employ_name,role,company))

employ name Manohar,my role doveloper and my company name is wipro

- instead of format method we can use the below process

In [20]:
a=10
b=10
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 10 and 10 is 20

In [5]:
n1=100
n2=200
average=(n1+n2)/2
print(f"the average of {n1} and {n2} is {average}")
print("the avergae of {} and {} is {}".format(n1,n2,int(average)))

the average of 100 and 200 is 150.0
the avergae of 100 and 200 is 150

In [14]:
#take the radius of the circle and take the pi value 3.14
#find the area of the circle  = pi*
radius=10
pi=3.14
area  =pi*radius*radius
print(area)
print(f"the area of the circle is : {area}")
print("The area of the circle is : {}".format(area))

314.0
the area of the circle is : 314.0
The area of the circle is : 314.0

In [17]:
#take the base of the triangle 
# take the height of the triangle
#area of the triangle = 1/2*base*height
base=10
height=20 
area = 1/2*base*height
print(area)
print("the area of the triangle is : {}".format(area))
print(f"The area of the triangle is : {area}")

100.0
the area of the triangle is : 100.0
The area of the triangle is : 100.0

In [29]:
#bill amount 
#take the tip percentage
#calculate tip ammount
#calculate the total bill
#print the total bill
bill=1000
tip=10
total=bill*tip/100
#total=1000*10/100
amount= bill +total
print(amount)
print(f"The total bill amount is: {amount}")
print("The total bill amount is : {}".format(amount))

1100.0
The total bill amount is: 1100.0
The total bill amount is : 1100.0

**END OPERATOR**

In [32]:
print(10,end=' ')
print(20)

10 20

In [33]:
print(10, end=' ')
print(20, end=' ')
print(30)

10 20 30

**separator operator**

$sep$

- seperate the multiple values in a single print statement

In [36]:
print(10,20,30,sep='&')

10&20&30

In [38]:
print('the addition of 5 and 3 is 8','.')

the addition of 5 and 3 is 8 .

- here we can see that the dot is far from 8 to deal this probelm we use separotor

In [37]:
print('the addition of 5 and 3 is 8','.',sep='')

the addition of 5 and 3 is 8.

In [12]:
# Prompt the user to enter a number
x =eval(input("Enter a number: "))
output = x,2*x,3*x,4*x,5*x

# Print the result
print(output)

Enter a number:  7

(7, 14, 21, 28, 35)